{
  "button": {
    "id": "b8:27:eb:13:b9:5e"
  },
  "slack": {
    "webhook": "https://hooks.slack.com/services/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",
    "channel": "@burdettadam",
    "username": "Dash-button",
    "message": "From amazon dash."
  },
  "giphy": {
    "url": "http://api.giphy.com/v1/gifs/search",
    "key": "nailed it",
    "searchTerms": ["amazon", "dash","button","node"]
  }
}
